*~
*.swp
*.swo
*.a
*.o

# cddlib

cddlib-0.94n/lib-src/cdd_f.h
cddlib-0.94n/lib-src/cddmp_f.h
cddlib-0.94n/lib-src/cddtypes_f.h
cddlib-0.94n/Makefile
cddlib-0.94n/cddgmp.pc
cddlib-0.94n/cddlib.pc
cddlib-0.94n/config.log
cddlib-0.94n/config.status
cddlib-0.94n/doc/Makefile
cddlib-0.94n/lib-src/.deps/
cddlib-0.94n/lib-src/Makefile
cddlib-0.94n/libtool
cddlib-0.94n/src/.deps/
cddlib-0.94n/src/Makefile
cddlib-0.94n/Makefile.in
cddlib-0.94n/aclocal.m4
cddlib-0.94n/compile
cddlib-0.94n/config.guess
cddlib-0.94n/config.sub
cddlib-0.94n/configure
cddlib-0.94n/depcomp
cddlib-0.94n/doc/Makefile.in
cddlib-0.94n/install-sh
cddlib-0.94n/lib-src/Makefile.in
cddlib-0.94n/ltmain.sh
cddlib-0.94n/m4/libtool.m4
cddlib-0.94n/m4/ltoptions.m4
cddlib-0.94n/m4/ltsugar.m4
cddlib-0.94n/m4/ltversion.m4
cddlib-0.94n/m4/lt~obsolete.m4
cddlib-0.94n/missing
cddlib-0.94n/src/Makefile.in
cddlib-0.94n/autom4te.cache/
cddlib-0.94n/doc/cddlibman.dvi
cddlib-0.94n/doc/cddlibman.pdf
cddlib-0.94n/doc/cddlibman.ps
